---
layout: guide
scripts:
  - "/js/build/install.js"
---

{% include vars.html %}

{{i18n.install_intro}}

{% capture mac          %}{% include_relative _installations/mac.md          %}{% endcapture %}
{% capture windows      %}{% include_relative _installations/windows.md      %}{% endcapture %}
{% capture linux        %}{% include_relative _installations/linux.md        %}{% endcapture %}
{% capture alternatives %}{% include_relative _installations/alternatives.md %}{% endcapture %}

<div class="tabs">
  <div class="nav nav-tabs bg-faded text-center">
    <ul class="nav navbar-nav nav-inline">
      <a id="mac-tab" class="nav-item nav-link" data-toggle="tab" href="#mac">{{i18n.install_os_mac}}</a>
      <a id="windows-tab" class="nav-item nav-link" data-toggle="tab" href="#windows">{{i18n.install_os_windows}}</a> <!-- I see you Daniel. -->
      <a id="linux-tab" class="nav-item nav-link" data-toggle="tab" href="#linux">{{i18n.install_os_linux}}</a>
      <a id="alternatives-tab" class="nav-item nav-link text-success" data-toggle="tab" href="#alternatives">{{i18n.install_os_alternatives}}</a>
    </ul>
  </div>

  <div class="tab-content">
    <div id="select-platform" class="tab-pane bg-faded active">
      <p class="text-center my-4 text-muted">
        {{i18n.install_select_platform}}
      </p>
    </div>
    <div class="tab-pane" id="mac">{{mac | markdownify}}</div>
    <div class="tab-pane" id="windows">{{windows | markdownify}}</div>
    <div class="tab-pane" id="linux">{{linux | markdownify}}</div>
    <div class="tab-pane" id="alternatives">{{alternatives | markdownify}}</div>
  </div>
</div>

<p>
  {{i18n.install_test}}
</p>

{% highlight sh %}

{% endhighlight %}
<div class="language-sh highlighter-rouge"><pre class="rougeHighlight"><code>yarn --version</code></pre>
</div>

<h3>{{i18n.docs_nightly}}</h3>
<p>{{i18n.install_nightly_intro}}</p>
<p>
  <a href="{{url_base}}/docs/nightly">
    {{i18n.install_nightly_learn_more}}
  </a>
</p>

{% capture issueBody %}

{% endcapture %}
{% assign issueBodyEscaped = issueBody | uri_escape %}

{% assign searchHref = "https://github.com/yarnpkg/yarn/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20%22Installation%20Problem%22%20in%3Atitle%20" %}
{% assign newIssueHref = "https://github.com/yarnpkg/yarn/issues/new?title=Installation%20Problem:%20[title]&body=" | append: issueBodyEscaped %}

<hr class="my-4">

<blockquote>
  <p>
    <strong>{{i18n.install_problems_title}}</strong>
    {{i18n.install_problems_description}}
  </p>
  <p>
    <a class="text-success" href="{{searchHref}}">{{i18n.install_problems_search}}</a>
    &middot;
    <a class="text-danger" href="{{newIssueHref}}">{{i18n.install_problems_new_issue}}</a>
  </p>
</blockquote>
